<div class="menu-scroll">
    <div class="menu-wrap">
        <div class="menu-content">
            <ul class="nav">
                 <li class="active">
                    <a data-cat="all" class="menu_category" href="#">Senarai Semua</a>
                </li>
                <hr>
                 <li>
                     <a data-target="#group_category" data-toggle="collapse" href="#">Kategori</a>
                     <span class="menu-collapse-toggle collapsed" data-target="#group_category" data-toggle="collapse" ><i class="icon icon-close menu-collapse-toggle-close"></i><i class="icon icon-add menu-collapse-toggle-default"></i></span>
                    <ul class="menu-collapse collapse" id="group_category">
                        <li>
                           <a data-cat="Agama & Falsafah" class="menu_category" href="#">Agama & Falsafah</a>
                        </li>
                        <li>
                            <a data-cat="Bahasa" class="menu_category" href="#">Bahasa</a>
                        </li>
                        <li>
                            <a data-cat="Seni & Budaya" class="menu_category" href="#">Seni & Budaya</a>
                        </li>

                        <li>
                            <a data-cat="Novel" class="menu_category" href="#">Novel</a>
                        </li>
                        <li>
                            <a data-cat="Cerpen" class="menu_category" href="#">Cerpen</a>
                        </li>
                        <li>
                            <a data-cat="Drama" class="menu_category" href="#">Drama</a>
                        </li>
                           
                        </li>
                        <li>
                            <a data-cat="Puisi" class="menu_category" href="#">Puisi</a>
                        </li>
                        <li>
                            <a data-cat="Sains & Teknologi" class="menu_category" href="#">Sains & Teknologi</a>
                        </li>
                        <li>
                            <a data-cat="Umum" class="menu_category" href="#">Umum</a>
                        </li>
                        <li>
                            <a data-cat="Kanak-kanak" class="menu_category" href="#">Kanak-kanak</a>
                        </li>
                      <li>
                        <a data-cat="Majalah" class="menu_category" href="#">Majalah</a>
                    </li>
                    </ul>
                </li>
                 <hr>
                <li>
                    <a data-target="#group_level" data-toggle="collapse" href="#">Hubungi Kami</a>
                     <span class="menu-collapse-toggle collapsed" data-target="#group_level" data-toggle="collapse" ><i class="icon icon-close menu-collapse-toggle-close"></i><i class="icon icon-add menu-collapse-toggle-default"></i></span>
                    <ul class="menu-collapse collapse" id="group_level">
                        <li id="emailMe">
                           <a class="" href="#">E-Mel</a>
                        </li>
                        <li id="gotoWeb">
                            <a  href="#">Laman Rasmi</a>
                        </li>
        
                    </ul>
                </li>
               
            </ul>
<!--
            <ul class="nav">
                <li>
                    <a href="#">Kategori B1</a>
                </li>
                <li>
                    <a href="#">Kategori B2</a>
                    <span class="menu-collapse-toggle collapsed" data-target="#form-elements" data-toggle="collapse"><i class="icon icon-close menu-collapse-toggle-close"></i><i class="icon icon-add menu-collapse-toggle-default"></i></span>
                    <ul class="menu-collapse collapse" id="form-elements">
                        <li>
                            <a href="#">Kategori B2<small>a</small></a>
                        </li>
                        <li>
                            <a href="#">Kategori B2<small>b</small></a>
                        </li>
                        <li>
                            <a href="#">Kategori B2<small>c</small></a>
                        </li>
                    </ul>
                </li>
            </ul>
-->
        </div>
    </div>
</div>