<style>
.bookthumb{
     width:140px;
     height:220px;
}
.row{
 margin-bottom: 100px;   
}
.price{
  color: #2196f3; 
}
.nav{
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 10px;   
}
.card-action{
  
  height: 60px;
  
}
p{
    white-space: nowrap; 
  
    overflow: hidden;
    text-overflow: ellipsis; 

}
</style>
<div class="content-heading">
    <div class="container">
        <h1 class="heading">iDBP</h1>
    </div>
</div>
<div class="content-inner">
    <div class="container">	
    <!--idbp-->
    <div class="card-wrap">
        <div class="row">
            <!--start book list-->
            <div class="col-lg-4 col-sm-6">
                <div class="card">
                    <img class="bookthumb" alt="alt text" src="images/samples/portrait.jpg">
                    <div class="card-main">
                        <div class="card-inner ">
                            <p class="card-heading">Primary Area!sdsds</p>
                            <p class="sipnosis">
                                Lorem ipsum dolor sit amet.<br>
                                Consectetur adipiscing elit. Consectetur adipiscing elit.  Consectetur adipiscing elit. Consectetur adipiscing elit. Consectetur adipiscing elit. Consectetur adipiscing elit. Consectetur adipiscing elit. Consectetur adipiscing elit.
                            </p>
                        </div>
                        <div class="card-action">
                            <ul class="nav nav-list pull-left ">
                               <li>
                                    Penulis bin Penulis
                                </li>
                            </ul>
                            <ul class="nav nav-list pull-right">
                                 <li>
                                    <span class="price" >RM 12</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="card">
                    <img class="bookthumb" alt="alt text" src="images/samples/portrait.jpg">
                    <div class="card-main">
                        <div class="card-inner">
                            <p class="card-heading">Primary Area!</p>
                            <p>
                                Lorem ipsum dolor sit amet.<br>
                                Consectetur adipiscing elit.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="card">
                    <img class="bookthumb" alt="alt text" src="images/samples/portrait.jpg">
                    <div class="card-main">
                        <div class="card-inner">
                            <p class="card-heading">Primary Area!</p>
                            <p>
                                Lorem ipsum dolor sit amet.<br>
                                Consectetur adipiscing elit.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="card">
                    <img class="bookthumb" alt="alt text" src="images/samples/portrait.jpg">
                    <div class="card-main">
                        <div class="card-inner">
                            <p class="card-heading">Primary Area!</p>
                            <p>
                                Lorem ipsum dolor sit amet.<br>
                                Consectetur adipiscing elit.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="card">
                    <img class="b-lazy bookthumb" 
       data-src="http://placehold.it/120x80/000000&text=loaded%20image" 
       src="http://placehold.it/120x80&text=placeholder" />
                   
                    <div class="card-main">
                        <div class="card-inner">
                            <p class="card-heading">Primary Area!</p>
                            <p>
                                Lorem ipsum dolor sit amet.<br>
                                Consectetur adipiscing elit.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            
            
            <!--end book list-->
        </div>
    </div>
    <!--/idbp-->
      
    </div>
</div>

