<style>
.bookshowcase{
  width: 132px;
  height: 240px;
  background-color: #ffffff;
  border-radius: 2px;
  display: block;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-bottom: 26px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
  -webkit-transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    
  float: left;
  margin: 2px 5px;
  display: inline
}

.center{
    margin-left:auto  ;
    margin-right:auto ;
    width: 100%;   
}
   
</style>
<div class="content-heading">
    <div class="container">
        <h1 class="heading">iDBP</h1>
    </div>
</div>
<div class="content-inner">
    <div class="container">	
                <div class="card-wrap">
                  <div class="rows">
                     <div class="bookshowcase">
                         ddd
                      </div>
                      <div class="bookshowcase">
                          ddd
                      </div>
                       <div class="bookshowcase">
                          ddd
                      </div>
                      <div class="bookshowcase">
                          ddd
                      </div>
                      <div class="bookshowcase">
                          ddd
                      </div>
                      <div class="bookshowcase">
                          ddd
                      </div>
                      <div class="bookshowcase">
                          ddd
                      </div>
                   </div>
                 
                </div>
      
    </div>
</div>