
<style>
.bookthumb{
     width:140px;
     height:220px;
}
.row{
 margin-bottom: 100px;   
}

</style>
<div class="content-heading">
    <div class="container">
        <h1 class="heading">iDBP</h1>
    </div>
</div>
<div class="content-inner">
    
    <div class="container">	
    <!--idbp-->
    <div class="card-wrap">
        <div id='cardList' class="row">
            <!--start book list-->
            <!--end book list-->
            
        </div>
    </div>
    <!--/idbp-->
    <div id="notification"></div>
    </div>
</div>


