 <a class="menu-toggle" href="#profile">
    <span class="access-hide">Z_GATES</span>
    <span class="avatar avatar-sm"><img alt="alt text for John Smith avatar" src="images/users/avatar-001.jpg"></span>
    <span class="header-close icon icon-close"></span>
</a>