<style>
.form-group-btn{
  display: block;
  vertical-align: middle;
    margin-bottom: -20px;
}
.btn{
    font-size: 14px;
    text-transform:none;
}
#btnLogin{
    width:100%;   
}
#btnForgotPassword{
 float:left;
}
#btnGoToRegister{
 float:right;   
}
.subtitle{
    left:10px;
}

</style>


<div class="row">
    <div class="subtitle"><%=resource.txtForgot %></div>
    <div class="form-group form-group-label">
        <div class="col-md-10 col-md-push-1">
            <label class="floating-label" for="login-email"><%=resource.txtEmail %></label>
            <input class="form-control" id="login-email" type="text" name="email">
        </div>
    </div>
    <div class="form-group-btn">     
        <button class="btn btn-blue waves-button waves-light waves-effect" type="submit" id="btnLogin"><%=resource.txtSend %></%></button>         
    </div>
</div>



