<style>
img {
    width:110px;
    height:180px;
}
.bookshowcase{
    width:110px;
    height:180px;
}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
</style>
<% _.each(otherBooks, function(book){ %>  

     <div class="bookshowcase otherBook" data-bookid="<%= book.id %>">
       
        <img class="b-lazy" 
            data-src="<%= resource.rootPublicUrl+'/'+book.pic %>" 
            src="<%= resource.imagePlaceholder %>"
             />

    </div>

<% });%>
 <div class="clearfix"></div>