<% if (loadStatus == "init"){ %>
<style>
.price{
  color: #2196f3; 
 display: -webkit-box;
    margin-top:-25px;
    text-align: right;
    padding-right: 10px;
}
.nav-book{
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 15px;   
}
.card-action{
  top: 240px;
  height: 48px;
  width: 100%;
  position: absolute;
border-top: 0px solid #e0e0e0; 
    
}
.card-action>ul>li{
 width:150px;   
}
/*
.card-inner{
  height: 140px;
  padding-top: 10px;
}
*/
.card-img img{
 height: 250px;   
}
.title{
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-size: 14px;
    text-align: left;
    height: 25px;
}
.writer{   
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    margin-top:-25px;
    font-size: 12px;  
    line-height: 15px;
    text-align: left;
}

.card:active, .card:focus, .card:hover {
  color: #212121;
  outline: 0;
  text-decoration: none;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15), 0 5px 10px 1px rgba(0, 0, 0, 0.3), 0 10px 30px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15), 0 5px 10px 1px rgba(0, 0, 0, 0.3), 0 10px 30px rgba(0, 0, 0, 0.15);
}


@media only screen and (min-width: 180px) {
     .card-adj{
          width:80%;
         
     }
}
@media only screen and (min-width: 350px) {
     .card-adj{
        width:160px;
        height: 320px;        
    }
    
    .col-adj{
        float:left;
        position: relative;
        padding-right: 6px;
        padding-left: 3%;
    }
    

}
    
@media only screen and (min-width: 400px) {
  
    .col-adj{
        float:left;
        position: relative;
        padding-right: 5px;
        padding-left: 7%;
    }
    

}
    
@media only screen and (min-width: 640px) {
    
    .col-adj{
        float:left;
        position: relative;
        padding-right: 5px;
        padding-left: 6.5%;
    }
    

}
    
@media only screen and (min-width: 700px) {
     
    
    .col-adj{
        float:left;
        position: relative;
        padding-right: 5px;
        padding-left: 7.5%;
    }
    

}



</style>
<% } %>
<% _.each(defaultBookList, function(book,i) { %>   
   <div class="col-lg-4 col-adj" >
        <div class="card card-adj waves-effect" data-bookid="<%= book.id %>" data-bookcat="<%= book.categories[0] %>">
            
            <div class="card-main">
                <!--card main-->
               <div class="card-img">
                    <img class="b-lazy bookthumb" 
                        data-src="<%= resource.rootPublicUrl+'/'+book.pic %>" 
                        src="http://placehold.it/120x80&text=placeholder" />
                </div>
                
                <div class="card-action">
                    <ul class="nav nav-book nav-list">
                         <li>
                            <span class="title"><%= book.title %></span><br>
                            <span class="writer"><%= book.authors.join() %></span><br>
                            <span class="price pull-right" >RM <%= book.price %></span><br>
                            
                        </li>

                        
                    </ul>
                </div>
                <!--/card-main-->
            </div>
        </div>
    </div>
<% }); %>
    <div id="loadMoreCardList"></div>
    
    
    
    
    
    
