<style>
.row{
    margin-bottom: 100px;  
}
.price{
  color: #2196f3; 
 
}
.btngroup{
   margin-top: 20px;   
}
.bookshowcase{
  width: 110px;
  height: 160px;
  background-color: #ffffff;
  border-radius: 2px;
  display: block;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-bottom: 26px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
  -webkit-transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    
  float: left;
  margin: 2px 5px;
  display: inline;

}
.btn{
    text-transform: capitalize;
}
.more{
 width:110px;
 height: 160px;
 margin: 2px 5px;
 line-height: 140px;
 text-transform:none;
}

.bookshowcase_row{
   
    margin-left: auto;
    margin-right: auto;
/*
    display: block;
    position: relative; 
*/
}

.bookthumb{
     width:120px;
     margin-left: -16px;
}
.modal-dialog{
    padding: 0px 0px;   
}
.modal-content{
    min-height: 100vh;
    width: 100vw;
/*    background-color: gainsboro;*/
}
.modal-footer{
    left: auto;
    position: fixed;
    right: 0;
    bottom: 0;   
}
.modal-inner{
    padding: 0;
    
}
.modal-heading{
    padding-top: 0;
}
.other{
    margin-left: 10px;
    color: #2196f3;
}

</style>
<div class="content-heading">
    <div class="container">
        <h1 class="heading"><%= book.title %></h1>
    </div>
</div>
<div class="content-inner">
     <div class="container">
        <!--idbp-->
        <div class="card-wrap">
            <div class="row">
                <div class="col-lg-12">

                    <div class="card pull-left" style="height:160px;width:110px;margin-right:30px;">
                        <div class="card-main">
                            <div class="card-inner">
                                <img class="b-lazy bookthumb" 
                                     data-src="<%= resource.rootPublicUrl+'/'+book.pic %>" src="http://placehold.it/110x160&text=placeholder" />
                            </div>
                        </div>
                    </div>
                    
                   <p><%= book.authors.author_name %> <br>
                       <span class="price">RM <%= book.price %></span><br>
                        ISBN:<%= book.isbn %>
                    </p>
                   
                   <p><%= book.summary %></p>
                       
                   

                </div>
                <div class="btngroup" style="margin-left:auto;margin-right=auto;text-align:center;">
                   
                    <button id="btnSample" class="btn btn-blue waves-button waves-light waves-effect" data-toggle="modal" href="#read-sample" >Lihat Sampel</button>        
                    <button class="btn waves-button waves-effect" type="button">Muat Turun</button>

                </div>
     
               <hr>
                
                <p class="other">Cadangan buku-buku lain:</p>
               
                 <div id="other_book" class="bookshowcase_row">
                    <!-- other book -->
                </div>
                <div  class="col-lg-4 col-sm-6">
                   <a id="btnMore" class="btn btn-flat btn-blue waves-button waves-effect more">Lihat lagi..</a>
                </div>

            </div>
            
                   

        </div>
    <div id="notification"></div>
    </div>
</div>


<!--Modal-->
    <script src="js/itemslide.min.js"></script>
	<div aria-hidden="true" class="modal fade" id="read-sample"  tabindex="-1">
		<div class="modal-dialog modal-big">
			<div class="modal-content">
			
				<div class="modal-inner">
				    <div id="sample-container"></div>
				</div>
                	<div class="modal-heading">
					<a class="modal-close" data-dismiss="modal">&times;</a>
				</div>
				<div class="modal-footer">
					<p class="text-right"><button class="btn btn-flat btn-alt" data-dismiss="modal" type="button">Close</button><button class="btn btn-flat btn-alt" data-dismiss="modal" type="button">OK</button></p>
				</div>
			</div>
		</div>
	</div>
    
    <script type="text/javascript">
        $('.modal').on('shown.bs.modal', function (e){
                blazy.revalidate();
            });
        
    </script>