.content-heading{
    background: #35a9e0; /* Old browsers */
background: -moz-linear-gradient(top,  #35a9e0 -1%, #276aa5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(-1%,#35a9e0), color-stop(100%,#276aa5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #35a9e0 -1%,#276aa5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #35a9e0 -1%,#276aa5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #35a9e0 -1%,#276aa5 100%); /* IE10+ */
background: linear-gradient(to bottom,  #35a9e0 -1%,#276aa5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#35a9e0', endColorstr='#276aa5',GradientType=0 ); /* IE6-9 */

}