
<style>
.bookthumb{
/*
     width:140px;
     height:220px;
*/
  width: 180px;
  height: 240px;
}
.row{
 margin-bottom: 100px;   
}

</style>
<div class="content-heading">
    <div class="container">
        <h1 class="heading">iDBP</h1>
    </div>
</div>
<div class="content-inner">
    
    <div class="container">	
    <!--idbp-->
    <div class="card-wrap">
        <div id='cardList' class="row">
            <!--start book list-->
            <!--end book list-->
            
        </div>
    </div>
    <!--/idbp-->
    <div class="fbtn-container">
		<div class="fbtn-inner">
			<a id="btnRefresh" class="fbtn fbtn-red fbtn-lg" ><span class="fbtn-text">Links</span><span class="fbtn-ori icon icon-refresh"></span></a>
		</div>
	</div>
    <div id="notification"></div>
    </div>
</div>


