<div class="content-heading">
			<div class="container">
				<h1 class="heading">Modals &amp; Toasts</h1>
			</div>
		</div>
		<div class="content-inner">
			<div class="container">
                <div class="toast"><div class="tooltip bottom in"  style="top: -680px; left: -34px; display: block; position: relative;"><div class="toast-inner tooltip-inner"><a data-dismiss="toast">Dismiss</a><div class="toast-text">Simple toast with some text and a simple <a href="javascript:void(0)">link</a>.</div></div></div></div>
			</div>
		</div>